
/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
}

/* Center align the main heading */
h1 {
    margin: 0.67em;
    text-align: center;
}

/* Style for core meaning paragraphs */
.coreMeaning p {
    margin-bottom: 10px;
    font-size: 1.1em;
}

/* Phonetic styling */
.phonetic {
    font-size: 1.2em;
    float: right;
    margin-right: 10px;
}

/* Sentence and phrase styling */
.sentence {
    font-size: 1.1em;
}

.phrase {
    font-weight: bold;
    color: green;
}

.scenario {
    font-size: 1em !important;
    color: gray;
}

.description {
    /* border: 1px dashed gray; */
    font-size: 1em !important;
}

/* Ordered list styling */
ol {
    list-style-type: decimal;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* Part of speech styling */
.pos {
    color: gray;
}

/* Header styling */
.header {
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-size: 1.5em;
    font-weight: bold;
}


.summary {
    font-size: 1em; 
}



/* Float left class for image containers */
.float-left {
    float: left;
    margin: 1px;
    width: 49%;
}

/* Responsive image sizing */
img {
    max-width: 100%;
}

/* Hide images after the second one by default */
.float-left:nth-child(n+3) {
    display: none;
}

/* Media query for screens smaller than 300px */
@media only screen and (max-width: 300px) {
    .float-left {
        width: 100%;
    }
    .float-left:nth-child(n+2) {
        display: none;
    }
}

/* Media query for screens larger than 600px */
@media only screen and (min-width: 600px) {
    .float-left {
        width: 32%;
    }
    .float-left:nth-child(-n+3) {
        display: block;
    }
}

/* Media query for screens larger than 900px */
@media only screen and (min-width: 900px) {
    .float-left {
        width: 24%;
    }
    .float-left:nth-child(-n+4) {
        display: block;
    }
}

/* Float right class */
.float-right {
    float: right;
    width: 15%;
    margin: 1px;
}

/* Clearfix for floating elements */
.clearfix::after,
.derivedMeanings li::after {
    content: "";
    display: table;
    clear: both;
}

/* Gallery margin */
.gallery {
    margin-bottom: 20px;
}
